.box-container {
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
  background-color: aliceblue;

  nav .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.pokemon_container {
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  margin: 1rem auto;
  padding: 1rem;

  button {
    min-width: 200px;
  }

  a {
    text-decoration: none;
    color: #FFF;
    font-weight: 500;
  }
}

.pokemon_move_container {
  padding: 1rem;
  margin: 1.5rem auto;
  p {
    color: seagreen;
    font-size: 1.5rem;
  }
  ul {
    list-style-type: none;
    margin: 1.5rem auto;
    li {
      background-color: #FFFFFF;
      padding: 0.5rem;
      border-bottom: 1px solid black;

    }
  }
}

.type_container {
  width: 80%;
  margin: 1rem auto;

  a {
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    padding: 0.5rem;
  }
}

.item_detail {
  width: 80%;
  margin: 1rem auto;
  h1 {
    color: seagreen;
  }


  ul {
    li {
      text-align: center;
      font-size: 1.2rem;
    }
  }
}