.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;

  .right {
    .has_nested_items {
      position: relative;
      &:hover .nested_list {
        display: block;
        transition: all 0.4s ease-out;
      }
      .nested_list {
        position: absolute;
        background-color: mintcream;
        margin: 1rem auto;
        padding: 0;
        box-shadow: 2px 2px 2px #CCC;
        width: 300px;
        display: none;
        transition: all 0.4s ease-in-out;

        li {
          padding: 1rem 0;
          margin: 0;
          border-radius: 0;
        }
      }
    }
    ul {
      display: flex;
      list-style-type: none;

      li {
        font-size: 1rem;
        margin: auto 1rem;
        padding: 1rem;
        font-weight: 600;
        cursor: pointer;

        &:hover {
          background-color: #FFFFFF;
          border-bottom: 1px solid black;
          border-radius: 10px;
          transition: all 0.3s ease-out;
        }

        a {
          text-decoration: none;
          color: #F5695E;
        }
      }
    }
  }

  .left {
    .brand {
      margin-left: 1rem;
      color: azure;
      font-size: 2rem;
      font-weight: 600;
    }
  }
}